.certificate-container {
    padding: 20px;
}

.certificate-title {
    font-size: 24px;
    margin-bottom: 20px;
}

.certificate-list {
    list-style: none;
    padding: 0;
}

.certificate-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.certificate-item:hover {
    background-color: rgba(0, 123, 255, 0.3);
}

.highlight {
    background-color: rgba(0, 123, 255, 0.3) !important;
}

.certificate-item div {
    flex-grow: 1;
}

.p-button-text {
    margin-left: 10px;
}
