.sidebar-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: overlay;
}

.toogle-sidebar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 10px;
}

.li-sidebar {
  padding: 5px;
}

.icon-sidebar {
  margin: 5px;
  font-size: larger;
}

ul, li {
  text-decoration: none;
}

.style-button-sidebar {
  color: #ffffff !important;
  background: transparent !important;
  border: transparent !important;
}

.style-button-sidebar:hover {
  background: #93c5fd !important;
  color: #030712 !important;
  border-color: #93c5fd !important;
}