.sidebar-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: overlay;
}

.toogle-sidebar {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  justify-content: space-between;
}

.sidebar-toggle-button {
  display: flex;
  justify-content: left;
  align-items: center;
  top: 10px;
  right: 10px;
}

.li-sidebar {
  padding: 5px;
}

.icon-sidebar {
  margin: 5px;
  font-size: larger;
}

.sidebar-logo {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9998;
}

.sidebar-logo img {
  width: 50px;
  height: auto;
}

.sidebar-toggle-image {
  width: 24px;
  height: auto;
  margin-right: 5px; 
}

.sidebar-logo-image {
  width: 100px;
  height: auto; 
  display: flex;
  align-self: left;
  margin-top: 8px;  
}

ul, li {
  text-decoration: none;
}

.style-button-sidebar {
  color: #ffffff !important;
  background: transparent !important;
  border: transparent !important;
}

.style-button-sidebar:hover {
  background: #93c5fd !important;
  color: #030712 !important;
  border-color: #93c5fd !important;
}